@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pinyon+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(./img/fondo\ de\ la\ web.png);
    background-size: cover;
    background-attachment: fixed;
    /* NUEVO: Evita que aparezca scroll horizontal y bordes blancos */
    overflow-x: hidden; 
    width: 100%;
}

/* --- HEADER Y NAVBAR (Estilos de escritorio por defecto) --- */
header {
    background-color: rgb(23, 21, 21);
    height: 100px;
}

.logo_header {
    width: 100px;
    height: 100px;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    position: relative;
}

/* Ícono del menú hamburguesa (Oculto por defecto en escritorio) */
.logo_menu {
    color: white;
    cursor: pointer;
    font-size: 30px;
    display: none; /* Se mostrará en la media query de móvil */
}

/* Checkbox (Oculto siempre) */
.menu_hamburguesa {
    display: none;
}

/* Lista de navegación (Estilos de escritorio) */
.ul_list {
    background: none;
    width: auto;
    /*Anchoautomáticoparaescritorio*/position: static;
    /*Posiciónestáticaenescritorio*/height: 100%;
    /*Alturacompletadelacabecera*/display: flex;
    justify-content: center;
    /*Alinearaladerechaenescritorio*/align-items: center;
    flex-direction: row;
    /*Horizontalenescritorio*/gap: 20px;
    /*Reducidoa20pxparaunmejorajuste*/transition: none;
    overflow: visible;
}


.ul_list li a {
    color: #C7A45A;
    font-size: 18px;
    font-weight: 600;
}

.nav__item:hover {
    border: 1px solid rgba(250, 250, 0, 0.466);
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(164, 164, 155, 0.039);
    transition: 0.5s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- SECCIÓN 1 --- */
.seccion1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.498), rgba(0, 0, 0, 0.406)), url(./img/atardecer\ egipcio.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px; /* Añadido padding para móvil */
}

.seccion1 h1 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.seccion1 h2 {
    color: white;
    font-size: 18px;
    text-align: center; /* Asegurar alineación en móvil */
}

.seccion1 li a {
    background-color: rgba(10, 10, 131, 0.715);
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* --- SECCIÓN 2 (Estilos de escritorio) --- */
.seccion2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.621), rgba(234, 234, 234, 0.018)), url(./img/SECCION\ 2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.img-sec2 {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.seccion-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    width: 50%;
    text-align: center;
}

.seccion-info h1 {
    font-size: 40px;
    font-weight: 600;
}

.seccion-info h2 {
    font-size: 25px;
    font-weight: 600;
}

.seccion-info li a {
    background-color: rgba(11, 11, 99, 0.831);
    color: white;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* --- SECCIÓN 3 (Estilos de escritorio) --- */
.seccion3 {
    background-color: rgba(23, 21, 21, 0.932);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 40px 20px;
}

.seccion3 h1 {
    color: #D3BB79;
}

.sec3-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    text-align: center;
    /* NUEVO: Permite que los elementos bajen si no entran */
    flex-wrap: wrap; 
    width: 100%; /* Asegura que use todo el ancho disponible */
}

.faraon {
    width: 80px;
    height: 90px;
}

.hero1,
.hero2,
.hero3 {
    background-image: url(./img/MARCO\ SIN\ FONDO.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px; /* Reducido para que quepan 3 en escritorio/tablet grande */
    height: 350px;
    align-content: center;
    justify-content: center;
    font-size: 13px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.hero1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.hero3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.btn-sec3 {
    background-color: rgba(0, 0, 101, 0.42);
    color: white;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-sec3:hover {
    border: 2px solid #ffffff;
    background-color: #C7A45A;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.hero-pergamino {
    background-image: url(./img/pergamino.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-pergamino h2 {
    font-family: "Pinyon Script", cursive;
    font-weight: 500;
    font-style: italic;
    color: rgba(0, 0, 0, 0.642);
    font-size: 35px;
    max-width: 80%;
}

/* --- FOOTER (Estilos de escritorio) --- */
footer {
    background: black;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.redes {
    width: 50px;
    height: 50px;
}

.nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-footer-list a {
    color: #D2B077;
}

.content-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #D2B077;
}

.instagram,
.facebook,
.whatsapp {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.final {
    color: #D2B077;
    font-size: 20px;
}




