@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.derecho {
    width: 60%;
    height: 700px;
    background: url(../img/img-contacto1.jpg) no-repeat center center/cover;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-family: "Outfit", sans-serif;
}

.arriba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 400px;
    gap: 20px;
}

.arriba h1 {
    font-size: 40px;
}

.arriba p {
    color: rgba(255, 255, 255, 0.692);
}

.abajo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.abajo h3 {
    color: rgba(255, 255, 255, 0.724);
    font-size: 15px;
}

.bt-dere {
    display: flex;
    gap: 20px; 
}

.bt-dere .btn {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.806);
    font-size: 15px;
}

.izquierdo {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 700px;
    justify-content: flex-start;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

.izq-arriba {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.izq-arriba h2 {
    font-size: 30px;
    font-weight: 900;
}

.izq-arriba p {
    font-size: 15px;
    margin-bottom: 30px;
}

.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.mail,
.pass {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 300px;
}



.label {
    font-size: 16px;
    font-weight: 800;
}

.input-reg {
    border: none;
    background: rgba(219, 219, 219, 0.628);
    border-radius: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-medio {
    display: flex;
    gap: 75px;
    font-size: 14px;
}

.check-medio {
    display: flex;
    gap: 5px;
}

.btn-medio a {
    color: black;
    font-weight: 800;
    text-decoration: underline;
}

.btn-env {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(92, 92, 242);
    padding: 5px;
    border-radius: 10px;
    color: white;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-env h2 {
    font-size: 18px;
}

.izquierdo-ultimo {
    margin-top: 30px;
    display: flex;
    gap: 5px;
}

.izquierdo-ultimo h3 {
    font-size: 14px;
    color: rgb(181, 177, 177);
    font-weight: 350;
}

.izquierdo-ultimo a {
    color: black;
    font-weight: 800;
    font-size: 14px;
    text-decoration: underline;
}

.linea {
    background-color: grey;
}

.divider {
    margin-top: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #555;
    font-size: 14px;
}
.divider::before,
.divider::after {
    content: '';
    border-bottom: 2px solid #e0e0e0;
    width: 100px;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}


.contenedor-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #e0e0e0;
    padding: 5px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.google p {
    font-weight: 600;
    font-size: 17px;
}

.facebook {
    border: 1.5px solid #e0e0e0;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.x {
    border: 1.5px solid #e0e0e0;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}